<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project LSD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/mainPage.css">
    <link rel="stylesheet" href="css/item-detail/item-detail.css">
    <link rel="stylesheet" href="css/new-item/new-item.css">

    <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>

    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script src="js/app.js"></script>


    <!-- main page -->
    <script src="js/mainPage/main-page.module.js"></script>
    <script src="js/mainPage/main-page.controller.js"></script>

    <!-- registration -->
    <script src="js/registration/registration.js"></script>
    <script src="js/registration/registration.controller.js"></script>
    <script src="js/registration/registration.directive.js"></script>

    <!-- main page -->
    <script src="js/mainPage/main-page.module.js"></script>
    <script src="js/mainPage/main-page.controller.js"></script>

    <!-- login -->
    <script src="js/loginView/login.module.js"></script>
    <script src="js/loginView/navLogin.controller.js"></script>
    <script src="js/loginView/login.controller.js"></script>

    <!-- categories -->
    <script src="js/category/category.module.js"></script>
    <script src="js/category/category.controller.js"></script>
	
	<!-- qwery -->
	<script src="js/search/search.module.js"></script>
	<script src="js/search/search.controller.js"></script>

    <!-- new Item -->
    <script src="js/newItem/new-item.module.js"></script>
    <script src="js/newItem/new-item.controller.js"></script>

    <!--  Item details -->
    <script src="js/item-detail/item-detail.module.js"></script>
    <script src="js/item-detail/item-detail.controller.js"></script>

    <!-- Personal Page -->
    <script src="js/personal-page/personal-page.module.js"></script>
    <script src="js/personal-page/personal-page.controller.js"></script>

    <script src="js/components/version/version.js"></script>
    <script src="js/components/version/version-directive.js"></script>
    <script src="js/components/version/interpolate-filter.js"></script>

    <!-- directives-->
    <script src="js/directives/file-model.js"></script>

    <script src="js/services/multipartItem.js"></script>

</head>
<body>
<nav ng-controller="NavLoginController" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">LSD</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul ng-if="!isLogIn" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/login">
                        <button type="button" class="btn btn-primary btn-md">
                            <i class="glyphicon glyphicon-log-in"></i> Войти
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#/registration">
                        <button type="button" class="btn btn-primary btn-md">
                            <i class="glyphicon glyphicon-plus-sign"></i> Регистрация
                        </button>
                    </a>
                </li>
            </ul>
            <ul ng-if="isLogIn" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/account">
                        <button type="button" class="btn btn-primary btn-md">
                            <i class="glyphicon glyphicon-user"></i> Мой профиль
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#/new">
                        <button type="button" class="btn btn-warning">
                            <i class="glyphicon glyphicon-plus"></i> Подать обьявление
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/#/" ng-click="logOut()">
                        <button type="button" class="btn btn-primary btn-md">
                            <i class="glyphicon glyphicon-log-out"></i> Выйти
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div ng-view></div>

<!--<div>Angular seed app: v<span app-version></span></div>-->

</body>
</html>
