<div class="container">
    <div class="row">
        <div class="col-md-8 item-details">
            <div>
                <h1>{{item.title}}</h1>
            </div>
            <div>
                <span>Добавлено: в {{created_at}}</span>
            </div>
            <div>
                <img ng-src="{{item.img}}" alt=""/>
            </div>
            <div>
                <span><p>{{item.description}}</p></span>
            </div>
        </div>
        <div class="col-md-4">
            <h1><strong>{{item.price}} грн</strong></h1>

            <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-info btn-lg">
                        <i class="glyphicon glyphicon-envelope "></i> Написать автору
                    </button>
                    <button type="button" class="btn btn-info btn-lg">
                        <i class="glyphicon glyphicon-earphone "></i> Показать номер
                    </button>
            </div>
        </div>
    </div>

</div>