/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.searchWrap {
  background-color: #2ba6cb;
  padding: 10px 50px;
  margin-bottom: 10px;
}

.findbutton {
    width: 100px;
}


.myCentr {
    margin-left: 100px;
	margin-bottom: 5px;
}

@media (max-width: 767px) {
    .myCentr {
        margin-left: 22px;
    }
}

.smallImg {
    width: 50px;
	height: 50px;
}

.previewImage {
    width: 150px;
	height: 150px;
}
