<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Заголовок</label>

            <div class="col-sm-4">
                <input ng-model="item.title" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Цена</label>

            <div class="col-sm-4">
                <input ng-model="item.price" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Описание</label>

            <div class="col-sm-4">
                <textarea ng-model="item.description" cols="80" rows="10"  class="form-control" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <div ng-show="!file" ngf-drop ngf-select ng-model="file" class="drop-box"
                 ngf-drag-over-class="dragover"
                 accept="image/*"
                 ngf-pattern="'image/*'">Drop pdfs or images here or click to upload
            </div>
            <img ngf-src="file" ngf-resize="{width: 100, height: 100, quality: 0.9}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" ng-click="saveItem()" value="Добавить"/>
        </div>

    </form>
</div>