<div class="container">
    <div class='searchWrap img-rounded'>
   	    <div class="col-md-12 col-sm-12 input-group">
 	        <input ng-model="query" type="text" class="form-control">
			<span class="input-group-btn">
				<button ng-click="go(query)" class="btn btn-success findbutton" type="button">Поиск</button>
			</span>
	    </div><br>
		
		<div class="row">
		  <div class="col-lg-3 col-md-3 col-sm-3">
			<div class="input-group">
			<span class="input-group-addon">
				от:
			  </span>
			   <input ng-model="min" type="text" class="form-control" aria-label="...">
			   <span class="input-group-addon">
				грн.
			  </span>
			</div>
		  </div>
		  <div class="col-lg-3 col-md-3 col-sm-3">
			<div class="input-group">
			<span class="input-group-addon">
				до:
			  </span>
			  <input ng-model="max" type="text" class="form-control" aria-label="...">
			  <span class="input-group-addon">
				грн.
			  </span>
			</div>
		  </div>
		   <div class="col-lg-3 col-md-3 col-sm-6">
		   	<button ng-click="reset()" type="button" class="btn btn-default">Сброс</button>
			<button ng-click="change()" type="button" class="btn btn-default">{{ sort }}</button>
		 </div>
		</div>
	</div>

	
	<div>
        <h1>Поиск: "{{titel}}"</h1>
        <div class="row text-center">
            <div ng-repeat="item in items | filter:query | filter: priceRange" class="col-md-12 col-sm-12 hero-feature">
                <div class="thumbnail">
				<div class="row">
				  <div class="col-xs-3 col-md-3">
					<a ng-href="#/item/{{item._id}}">
                        <img ng-src="{{item.img}}" alt="">
                    </a>
				  </div>
				  <div class="col-xs-9 col-md-9">
					<div class="caption">
                        <h3><a href="#/item/{{item._id}}">{{item.title}}</a></h3>
                        <h3>{{item.price}} грн</h3>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
				  </div>
				</div>
                </div>

            </div>
        </div>
    </div>

</div>